*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
 background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
 color: #fff;
}

.container{
  width: 100%;
  max-width: 588px;
  min-height: 700px;
  margin: 0 auto;
  padding: 24px;
  border-radius: 10px;
  background: rgba(15, 23, 42, 0.75);
  backdrop-filter: blur(12px);
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(58, 78, 82, 0.242);
  transition: all 0.3s ease;
}

.container:hover{
  box-shadow: none;
}

.container form h1{
  text-align: center;
  font-weight: 700;
  font-size: 35px;
}

.container form .wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  gap: 10px;
}

.container .question{
   position: relative;
}

.container form .wrapper .question input{
  outline: none;
  border: 1px solid rgb(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
}

.container form .wrapper .question i{
  position: absolute;
  color: #191919;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  font-size: 18px;
}

.container form .wrapper .submit input{
  padding: 7px 20px;
  border: none;
  border-radius: 10px;
  color: #191919;
  background: #00D4FF;
  transition: background-color 0.3s ease;
}

.container form .wrapper .submit input:hover{
  background: #00bfff;
}

.container #response {
  margin-top: 30px;
  text-align: justify;
}



